<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매</title>
    <link rel="stylesheet" href="detail.css">
    <link rel="stylesheet" href="bar.css">

</head>

<body>
    <!-- 사이드바 -->
    <div class="sidebar">
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <button class="plus-button" onclick="location.href='write.html'">+</button>
        </div>
        
        <ul class="menu">
            <li><a href="#"><span class="icon">🏠</span> Home</a></li>
            <li><a href="#"><span class="icon">📦</span> My deal</a></li>
            <li><a href="#"><span class="icon">ℹ️</span> Info</a></li>
        </ul>
    
    </div>
    
    <div class="imagebox">
    </div>


            <div class="seller">
                <img class="profilepic" src="X.jpeg">
                <img class="sellm" src="X.jpeg">
            </div>
            <div class="sellname">
                <h3>익명의 뽀삐</h3>
                <p>최근 답장 - n 시간 전</p>
            </div>
            <div class="boxxx">
                <h2>중고책 판매합니다</h2>
                <p>가격: 20000원</p>
                <div class="divide"></div>
                <div class="sellingpost">
                    <p>상태 깨끗합니다. 저희 집 강아지가 더이상 안 읽는다고 해서 싸게 내놓아요.
                    보시면 아시겠지만 괜찮습니다.<br>네고 요청 시 무시합니다.</p>
                </div>
                <button class="buy">구매 신청하기</button>
          
                <div class="comment-box">
                    <div class="commentcomment">
                        <img src="X.jpeg" class="commentpic">
                        <div class="text-wrapper">
                            <h3>나는야 엽떡짱</h3>
                            <p>물건 뒷면 사진도 추가해서 올려주실 수 있나요? 뒷면사진없으니까 너무 불편하네요 ㅠㅠㅠ~~~~ 답장 3분 안에 안주면 대응 안 좋다고 에타에 해당 글 캡쳐해서 올린 뒤 고객문의센터에 민원 넣겠습니다</p>
                        </div>
                    </div>
                    <div class="commentcomment"> <!-- 여기 수정 -->
                        <img src="X.jpeg" class="commentpic">
                        <div class="text-wrapper">
                            <h3>나는야 엽떡짱</h3>
                            <p>물건 뒷면 사진도 추가해서 올려주실 수 있나요? 뒷면사진없으니까 너무 불편하네요 ㅠㅠㅠ~~~~</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <textarea class="commentwrite" placeholder="댓글을 추가해보세요."></textarea>
            </div>
            <button class="writebutton"></button>



    
</body>
</html>