<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>welcome</title>
    <!-- <link rel = "stylesheet" href=" "/> -->
    <style>
        body {
            width: 1440px;
            height: 1400px;

            background-color: white;         
        }
        
    </style>
</head>
    <body>
        <header>
            <!--제목-->
            <h1 style=" position: absolute;
            width: 609px;
            height: 40px;
            left: 84px;
            top: 204px;
            
            /* M3/display/large */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 57px;
            line-height: 64px;
            /* or 112% */
            display: flex;
            align-items: center;
            letter-spacing: -0.25px;
            color: #000000; font-weight: bold;">덕성여대 무인장터<br>프로 GPT</h1>

            <!--부제-->
            <p style="position: absolute;
            width: 448px;
            height: 137px;
            left: 84px;
            top: 309px;
            
            /* M3/label/large */
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            /* or 143% */
            display: flex;
            align-items: center;
            letter-spacing: 0.1px;
            
            color: #000000;" >살되 네 생명을 살아라<br>생각하되 네 생각으로 하여라<br>알되 네가 깨달아 알아라</p>
        </header>

        <backgrond>
                <!-- 원 1 -->
                <div style="position: absolute; width: 544px; height: 422px; left: 152px; top: 743px; background: #4381FB; border-radius: 50%;"></div>
                <!-- 원 2 -->
                <div style="position: absolute; width: 321px; height: 331px; left: 520px; top: 659px; background: #4381FB; border-radius: 50%;"></div>

                <!-- 사각형1 -->
                <div style="z-index: 2;
                position: absolute;
                width: 541px;
                height: 735px;
                left: 722.5px;
                top: 10px;
                
                background: #F5F5F5;
                box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);"></div>

                <!--사각형 2-->
                <div style="z-index: 1;

                position: absolute;
                width: 541px;
                height: 735px;
                left: 802.5px;
                top: 52px;
                
                background: #D9D9D9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                "></div>
                
                <!-- 마스크 처리 배경 -->
                <div class="shape-group" style="z-index: 5;position: absolute; width: 791px; height: 606px; left: 250px; top: 0; mix-blend-mode: screen;">

                    <!-- 마스크 원 1 -->
                    <div style="z-index: 5;
                    position: absolute;
                    width: 466px;
                    height: 358px;
                    border-radius: 50%;
                    background: #F65757;"></div>

                    <!-- 마스크 원 2 -->
                    <div style="z-index: 5;
                    position: absolute;
                    width: 541px;
                    height: 524px;
                    border-radius: 50%;
                    background: #F65757;"></div>
                </div>
        </backgrond>

        <box>
        
        <!--로그인창-->

        <form method="post">
            <!--아이디 작성-->
            <p style=" z-index: 3;
            position: absolute;
            width: 40px;
            height: 20px;
            left: 810.5px;
            top: 97px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: #000000;      
            ">e-mail</p>

            <input type="text" name = "idsubmit" style=" z-index: 6; border: none;
            position: absolute;
            width: 375px;
            height: 54px;
            left: 807.5px;
            top: 132px; 
            background: #D9D9D9;
            border-radius: 12px;">


            <!--비밀번호 작성-->
            <p style=" z-index: 3;
            position: absolute;
            width: 62px;
            height: 20px;
            left: 810.5px;
            top: 179px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: #000000;">password</p>

            <input type="password" name = "passwordsubmit" style="
            z-index: 6;
            position: absolute;
            width: 375px;
            height: 54px;
            left: 807.5px;
            top: 214px;
            border: none;
            background: #D9D9D9;
            border-radius: 12px;
            ">

            <!--꾸밈선-->
            <div style=" z-index: 3;
            position: absolute;
            left:800.5px;
            top: 294px;
            width: 387px; height: 1px; background-color:#CAC4D0;"></div>
            
            <!--로그인하기-->
            <a href="home.html" style="
                position: absolute;
                left:800.5px;
                top: 304px;
                z-index: 5;
                width: 387px;
                height: 20px;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1px;
                text-decoration: none;  /* 밑줄 제거 */
                color: #49454F;
                ">로그인하기</a>
            
        </form>
        
        
        <!--회원가입창-->
        <p style=" z-index: 3;
        position: absolute;
        width: 144px;
        height: 20px;
        left: 1045px;
        top: 570px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;">아직 회원이 아니신가요?</p>
        <br>
        <a href="https://docs.google.com/document/d/1deNwSWK3OvwOzC98zAIZ8mnKxl-liXOqTNoph3D9rOE/edit?usp=sharing" style="display: inline-block; z-index: 3; position: absolute;
            width: 375px;
            height: 54px;
            left: 807.5px;
            top: 676px;
            background: #F65757;
            border-radius: 12px;
            border: none;
            color: white;
            font-size: 16px;
            text-align: center;
            line-height: 54px;
            text-decoration: none;  /* 밑줄 제거 */
            cursor: pointer;">
            회원가입
        </a> <!-- 실제 회원가입까지는 구현하지 않았기 때문에 a로 넘김, form 사용시 서버 필요-->
       </box> 
    </body>

</html>