<form action="{{ url_for('write_views.write') }}" method="post" enctype="multipart/form-data"> <!-- 수정된 부분 -->
    <div class="title">제목</div>
    <textarea class="titlearea" name="title" placeholder="제목을 입력하세요!" required></textarea>
    <hr class="line1">
    <div class="price">가격</div>
    <textarea class="pricearea" name="price" placeholder="이번 제품은 얼마인가요?" required></textarea>
    <hr class="line2">

    <label class="upload-box" for="file-upload">
        <span class="upload-icon">+</span>
    </label>
    <input id="file-upload" type="file" name="files" accept="image/*" multiple style="display: none;">

    <div id="image-container"></div>

    <div class="textarea-wrapper">
        <textarea class="textarea" name="content" placeholder="내용을 입력하세요." rows="1" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';" required></textarea>
    </div>

    <button class="publish-button" type="submit">발행하기</button>
</form>
